//Created by mina on 20/05/15.
extends layout

block content
    - var answerType = "checkbox";
    script(type='text/javascript').
        var myQuiz;

        $(addQuestionAndSavePrevious);
        $(validateQuiz);
        $(toggleAnswerType);

        function addQuestionAndSavePrevious() {
            $("#generateQuestion-btn").click(function () {
                //$("#generateQuestion-btn").hide();
                var title = $("#questionTitle").val();
                var prop1 = $("#answer1").val();
                var prop2 = $("#answer2").val();
                var prop3 = $("#answer3").val();
                var prop4 = $("#answer4œ").val();

                $.post("/listOfQuestions", {numberOfQuestions: nb}).done(function (data) {
                    for (var i = 0; i < nb; i++) {
                        console.log(data);

                        $("#listOfQuestions").append(data);
                    }
                });
            });
        };

        function validateQuiz() {
            $("#validateQuiz").click(function () {
                $.post("/insertQuiz", {quiz: myQuiz}).done(function (data) {
                    $("#quizCreation").html(data);
                    // $("#listOfQuestions").hide();
                });
            });
        }

        function toggleAnswerType() {
            $("#toggleAnswerType").click(function () {
                answerType = "radio";
                $("#listOfQuestions").hide();
            });
        }


    div(id="quizCreation")
        h1= title
        div
            span Title
            input(type="text", name="title", id="quizTitle")
            br
            br
        div(id="listOfQuestions")
            div(id="question")
                div
                    span Question
                    input(type="text", id="questionTitle")
                ul(id="answers")
                    li
                        span Answer 1
                        input(type="text", id="answer1")
                        input(type=answerType, name="prop", value="", checked=false).
                    li
                        span Answer 2
                        input(type="text", id="answer2")
                        input(type=answerType, name="prop", value="", checked=false).
                    li
                        span Answer 3
                        input(type="text", id="answer3")
                        input(type=answerType, name="prop", value="", checked=false).
                    li
                        span Answer 4
                        input(type="text", id="answer4")
                        input(type=answerType, name="prop", value="", checked=false).
        div
            button(id="generateQuestion-btn", type="button", class="btn btn-default btn-lg", data-action="bea")
                span.glyphicon-plus Add Question

            div
                button(id="validateQuiz", class="btn btn-success", aria-label="Validate").
                    Validate

            div
                button(id="toggleAnswerType", class="btn btn-primary", aria-label="Toggle Answer Type").
                    Toggle Answer Type