h1 #{newQ.q}

- var answerType = "checkbox"
if (newQ.nbAnswers == 1)
    - answerType = "radio"

each p in newQ.prop
    span
        input(type=answerType, name="prop", value=p.s, checked=false, class="prop").
        | #{p.s}
        br

