
if rooms && rooms.length > 0
	table
		thead
			tr
				td ID
				td Quiz
				td Status
				td Players
				td Master
		tbody
			each room in rooms
				tr
					td
						a(class='list-button', href='room').
							#{room.id}
					td.
						#{room.quiz.title}
					td.
						#{room.status}
					td.
						#{room.players.length}/#{room.maxPlayer}
					td.
						#{room.master.nickname}
else
	p No rooms